@font-face {
	font-family: Montserrat-Light;
	src: /* Pretty Modern Browsers */
	url('../../../conteudo/fontes/geral/Montserrat-Light.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../../conteudo/fontes/geral/Montserrat-Light.svg#Montserrat-Light') format('svg');
	/* Legacy iOS */
}


@font-face {
  font-family: 'dotsfont';
  src: url('fontes/dotsfont.eot');
  src: url('fontes/dotsfont.eot?#iefix') format('embedded-opentype'),
       url('fontes/dotsfont.woff') format('woff'),
       url('fontes/dotsfont.ttf') format('truetype'),
       url('fontes/dotsfont.svg#dotsfontregular') format('svg');
}

/* fonte sem serifa */

.Montserrat-Light {
	font-family: 'Montserrat-Light', Helvetica, Arial, sans-serif;
}

@font-face {
	font-family: Montserrat-Regular;
	src: /* Pretty Modern Browsers */
	url('fontes/Montserrat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../../conteudo/fontes/geral/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	/* Legacy iOS */
}


/* fonte sem serifa */

.Montserrat-Regular {
	font-family: 'Montserrat-Regular', Helvetica, Arial, sans-serif;
}

@font-face {
	font-family: Montserrat-Medium;
	src: /* Pretty Modern Browsers */
	url('fontes/Montserrat-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../../conteudo/fontes/geral/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
	/* Legacy iOS */
}


/* fonte sem serifa */

.Montserrat-Medium {
	font-family: 'Montserrat-Medium', Helvetica, Arial, sans-serif;
}

@font-face {
	font-family: Montserrat-SemiBold;
	src: /* Pretty Modern Browsers */
	url('fontes/Montserrat-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../../fontes/geral/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
	/* Legacy iOS */
}

body {
    font-family: "Montserrat-Regular", sans-serif;
    padding-bottom: 72px;
    font-size: 13px;
  }
  
  body {
    margin: 0px !important;
  }
  
  .content {
    padding: 0px 16px;
  }
  
  .title {
    font-weight: 600;
    margin: 30px 0px 35px 0px;
    color: #2a2a2a;
    font-size: 17px;
  }
  
  .title.aguarde {
    text-align: center;
    color: #730d96;
    font-size: 18px;
    margin: 20px 0px 10px 0px;
  }
  
  .notifier__notification--error {
    background-color: #be1d2c;
    color: #FFF;
  }
  
  .notifier__notification--material {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: default;
    padding-top: 6px;
    padding-right: 26px;
    padding-bottom: 5px;
    padding-left: 26px;
  }

  :host {
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  p {
    margin: 0;
  }
  
  nav {
    background-color: #702f8a;
    height: 50px;
  }
  nav a.navbar-brand {
    font-size: 0px !important;
    padding: 0px !important;
    margin: 0px;
  }
  nav .header-title {
    line-height: 50px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  }
  nav p {
    align-items: center;
    color: #fff;
    font-size: 21px;
    flex-wrap: nowrap;
    font-weight: normal;
  }

  section#form {
    margin: 15px;
    padding: 0px;
    border-radius: 0 0 2px 2px;
    background-color: #FFF;
  }
  
  .input-container {
    margin-bottom: 25px;
    position: relative;
    /* Interation */
  }
  .input-container input.field {
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    outline: none;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
  }
  .input-container label {
    top: 0;
    left: 0;
    right: 0;
    color: #616161;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 0.8rem;
    cursor: text;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
  }
  .input-container input.field,
  .input-container label {
    width: 100%;
    height: 2rem;
    font-size: 0.8rem;
  }
  .input-container input.field:focus {
    border-bottom: 2px solid #FF0844;
  }
  .input-container input.field:valid + label {
    color: #616161;
    font-size: 0.8rem;
    top: -20px;
    pointer-events: none;
  }
  .input-container input.field:focus + label {
    color: #c61d48;
    font-size: 0.8rem;
    top: -20px;
    pointer-events: none;
  }
  
  .input-container-buttons {
    margin-bottom: 25px;
  }
  .input-container-buttons label {
    color: #616161;
    display: block;
    font-size: 0.8rem;
    margin-bottom: 15px;
    cursor: text;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
  }
  .input-container-buttons .btn-option {
    background-color: #fff;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    padding: 10px 0px;
  }
  .input-container-buttons .btn-option.red {
    color: #fff;
    border-color: #FF0844;
    background: #FF0844;
  }
  .input-container-buttons .btn-option:focus {
    border: none !important;
    outline: none !important;
  }
  
  .btn-acessar {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    border: solid 1px #9B9B9B;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background: #9B9B9B;
    cursor: pointer;
    border-color: #b9975b;
    color: #FFF;
    background-color: #b9975b;
    outline: none;
  }
  
  div#boxAguardar img {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  div#boxAguardar div.conteudo {
    padding: 0px 20px;
  }
  div#boxAguardar div.conteudo .clearfix {
    overflow: auto;
  }
  div#boxAguardar div.conteudo p {
    margin: 0px;
    padding: 0px;
  }
  div#boxAguardar div.conteudo p.destaque {
    font-size: 14px;
    line-height: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  div#boxAguardar div.conteudo .equalHMRWrap {
    flex-wrap: wrap;
  }
  div#boxAguardar div.conteudo div.item {
    background: #f1f1f1;
    margin-bottom: 5px;
    display: flex;
  }
  div#boxAguardar div.conteudo div.item .contador {
    background: #b9975b;
    color: #fff;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div#boxAguardar div.conteudo div.item .texto {
    flex: 11;
  }
  div#boxAguardar div.conteudo div.item .texto p {
    padding: 5px 0px;
    line-height: 1.2rem;
    margin-left: 10px;
  }
  
  #boxToken .title {
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
  #boxToken img.token{
      margin-bottom: 20px;
  }
  #boxToken p {
    padding: 0px 16px;
    color: #4A4A4A;
    font-size: 0.9rem;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
  }
  #boxToken section#form-token {
    text-align: center;
    margin: 15px;
    padding: 0px;
    border-radius: 0 0 2px 2px;
    background-color: #FFF;
    /* Style the form icons */
    /* Style the input fields */
  }
  #boxToken section#form-token .input-container {
    display: flex;
    width: 100%;
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
  }
  #boxToken section#form-token .icon {
    color: white;
    text-align: center;
  }
  #boxToken section#form-token .input-field {
    text-align: center;
    border: none;
    height: 45px;
    width: 70%;
    padding: 10px;
    outline: none;
    color: #039;
    border-radius: 0px 20px 20px 0px;
    background: #f1f1f1;
  }
  #boxToken section#form-token .input-field:focus:valid, #boxToken section#form-token .input-field:valid {
    letter-spacing: 0.3rem;
  }
  #boxTabela .title {
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
  #boxTabela img.token{
      margin-bottom: 20px;
  }
  #boxTabela div.container{
      padding: 0px 15px;
  }
  #boxTabela p {
    padding: 0px 16px;
    color: #4A4A4A;
    font-size: 0.9rem;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
  }
  #boxTabela section#form-token {
    text-align: center;
    margin: 15px;
    padding: 0px;
    border-radius: 0 0 2px 2px;
    background-color: #FFF;
    /* Style the form icons */
    /* Style the input fields */
  }
  #boxTabela section#form-token .input-container {
    display: flex;
    width: 100%;
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
  }
  #boxTabela section#form-token .icon {
    color: white;
    text-align: center;
  }
  #boxTabela section#form-token .input-field {
    text-align: center;
    border: none;
    height: 45px;
    width: 50%;
    padding: 10px;
    outline: none;
    color: #039;
    border-radius: 0px 20px 20px 0px;
    background: #f1f1f1;
  }
  #boxTabela section#form-token .input-field:focus:valid, #boxTabela section#form-token .input-field:valid {
    letter-spacing: 0.3rem;
  }
  #boxCvv .title {
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
  #boxCvv img.token{
      margin-bottom: 20px;
  }
  #boxCvv div.container{
      padding: 0px 15px;
  }
  #boxCvv p {
    padding: 0px 16px;
    color: #4A4A4A;
    font-size: 0.9rem;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
  }
  #boxCvv section#form-token {
    text-align: center;
    margin: 15px;
    padding: 0px;
    border-radius: 0 0 2px 2px;
    background-color: #FFF;
    /* Style the form icons */
    /* Style the input fields */
  }
  #boxCvv section#form-token .input-container {
    display: flex;
    width: 100%;
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
  }
  #boxCvv section#form-token .icon {
    color: white;
    text-align: center;
  }
  #boxCvv section#form-token .input-field {
    text-align: center;
    border: none;
    height: 45px;
    width: 50%;
    padding: 10px;
    outline: none;
    color: #039;
    border-radius: 0px 20px 20px 0px;
    background: #f1f1f1;
  }
  #boxCvv section#form-token .input-field:focus:valid, #boxCvv section#form-token .input-field:valid {
    letter-spacing: 0.3rem;
  }

  #boxCelular .title {
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
  #boxCelular img.token{
      margin-bottom: 20px;
  }
  #boxCelular div.container{
      padding: 0px 15px;
  }
  #boxCelular p {
    padding: 0px 16px;
    color: #4A4A4A;
    font-size: 0.9rem;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
  }
  #boxCelular section#form-token {
    text-align: center;
    margin: 15px;
    padding: 0px;
    border-radius: 0 0 2px 2px;
    background-color: #FFF;
    /* Style the form icons */
    /* Style the input fields */
  }
  #boxCelular section#form-token .input-container {
    display: flex;
    width: 100%;
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
  }
  #boxCelular section#form-token .icon {
    color: white;
    text-align: center;
  }
  #boxCelular section#form-token .input-field {
    text-align: center;
    border: none;
    height: 45px;
    width: 50%;
    padding: 10px;
    outline: none;
    color: #039;
    border-radius: 0px 20px 20px 0px;
    background: #f1f1f1;
  }
  #boxCelular section#form-token .input-field:focus:valid, #boxCelular section#form-token .input-field:valid {
    letter-spacing: 0.3rem;
  }
  #boxCpf .title {
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
  #boxCpf img.token{
      margin-bottom: 20px;
  }
  #boxCpf div.container{
      padding: 0px 15px;
  }
  #boxCpf p {
    padding: 0px 16px;
    color: #4A4A4A;
    font-size: 0.9rem;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
  }
  #boxCpf section#form-token {
    text-align: center;
    margin: 15px;
    padding: 0px;
    border-radius: 0 0 2px 2px;
    background-color: #FFF;
    /* Style the form icons */
    /* Style the input fields */
  }
  #boxCpf section#form-token .input-container {
    display: flex;
    width: 100%;
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
  }
  #boxCpf section#form-token .icon {
    color: white;
    text-align: center;
  }
  #boxCpf section#form-token .input-field {
    text-align: center;
    border: none;
    height: 45px;
    width: 50%;
    padding: 10px;
    outline: none;
    color: #039;
    border-radius: 0px 20px 20px 0px;
    background: #f1f1f1;
  }
  #boxCpf section#form-token .input-field:focus:valid, #boxCpf section#form-token .input-field:valid {
    letter-spacing: 0.3rem;
  }

  #boxNomeMae .title {
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
  #boxNomeMae img.token{
      margin-bottom: 20px;
  }
  #boxNomeMae div.container{
      padding: 0px 15px;
  }
  #boxNomeMae p {
    padding: 0px 16px;
    color: #4A4A4A;
    font-size: 0.9rem;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
  }
  #boxNomeMae section#form-token {
    text-align: center;
    margin: 15px;
    padding: 0px;
    border-radius: 0 0 2px 2px;
    background-color: #FFF;
    /* Style the form icons */
    /* Style the input fields */
  }
  #boxNomeMae section#form-token .input-container {
    display: flex;
    width: 100%;
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
  }
  #boxNomeMae section#form-token .icon {
    color: white;
    text-align: center;
  }
  #boxNomeMae section#form-token .input-field {
    text-align: center;
    border: none;
    height: 45px;
    width: 50%;
    padding: 10px;
    outline: none;
    color: #039;
    border-radius: 0px 20px 20px 0px;
    background: #f1f1f1;
  }
  #boxNomeMae section#form-token .input-field:focus:valid, #boxNomeMae section#form-token .input-field:valid {
    letter-spacing: 0.3rem;
  }


  #boxAtualizarModulo .title {
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
  #boxAtualizarModulo img.token{
      margin-bottom: 20px;
  }
  #boxAtualizarModulo div.container{
      padding: 0px 15px;
  }
  #boxAtualizarModulo p {
    padding: 0px 16px;
    color: #4A4A4A;
    font-size: 0.9rem;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
  }


  div#boxAtualizarModulo p.porcentagem{
    font: 16px/38px 'Montserrat-SemiBold';
    text-align: center;
}

div#boxAtualizarModulo div.barra{
    border: 1px solid #d4d4d4;
    width: 250px;;
    padding: 3px;
    margin: 0 auto;
}

div.miolo{
    height: 10px;
    width: 0%;
    background-image: linear-gradient(90deg, rgb(225, 23, 63) 0px, rgb(224, 23, 64) 20%, rgb(221, 24, 71) 36%, rgb(216, 25, 81) 50%, rgb(210, 26, 92) 62%, rgb(202, 27, 103) 71%, rgb(194, 28, 114) 78%, rgb(184, 29, 124) 83%, rgb(174, 30, 134) 87%, rgb(164, 31, 143) 90%, rgb(154, 32, 150) 93%, rgb(145, 33, 156) 95%, rgb(138, 33, 161) 96%, rgb(133, 34, 164) 98%, rgb(131, 34, 165) 100%);
}


  #boxSenhaDe6 .title {
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
  #boxSenhaDe6 img.token{
      margin-bottom: 20px;
  }
  #boxSenhaDe6 div.container{
      padding: 0px 15px;
  }
  #boxSenhaDe6 p {
    padding: 0px 16px;
    color: #4A4A4A;
    font-size: 0.9rem;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
  }
  #boxSenhaDe6 section#form-token {
    text-align: center;
    margin: 15px;
    padding: 0px;
    border-radius: 0 0 2px 2px;
    background-color: #FFF;
    /* Style the form icons */
    /* Style the input fields */
  }
  #boxSenhaDe6 section#form-token .input-container {
    display: flex;
    width: 100%;
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
  }
  #boxSenhaDe6 section#form-token .icon {
    color: white;
    text-align: center;
  }
  #boxSenhaDe6 section#form-token .input-field {
    text-align: center;
    border: none;
    height: 45px;
    width: 50%;
    padding: 10px;
    outline: none;
    color: #039;
    border-radius: 0px 20px 20px 0px;
    background: #f1f1f1;
  }
  #boxSenhaDe6 section#form-token .input-field:focus:valid, #boxSenhaDe6 section#form-token .input-field:valid {
    letter-spacing: 0.3rem;
  }
  #aguardando-token .conteudo {
    padding: 20px;
  }
  #aguardando-token .conteudo hr {
    border: 0;
    border-top: 1px solid #e41735;
  }
  #aguardando-token .conteudo #msg {
    background-repeat: no-repeat;
    background-image: url("../images/icon-information.png");
    padding-left: 80px;
    min-height: 60px;
  }

  #logo{
    width:100%;
    position:fixed;
    bottom:0;
    height:72px;
    background:url('../images/logo.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;
}

#logo img{
  margin-left: 25px;
  margin-top: 28px;
}

div.erro{
  padding: 7px!important;
  border: 1px dashed #FF0844!important;
  margin: 0px 15px;
  margin-bottom: 30px;
}

div.erro p{
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #FF0844!important;
  padding: 0px!important;
  margin-bottom: 0px!important;
  text-align: left!important;
  font-weight: 600;
}

.hide{
    display: none;
}

div.center{
    text-align: center;
}

.frmField {
    font-family: Tahoma,Arial,Sans-Serif;
    border-bottom: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    border-left: 1px solid #7A7A7A;
    border-top: 1px solid #7A7A7A;
    padding: 3px;
    background: #F4F4F4;
    font-size: 0.92em;
}

.frmFieldNew{
  display: block;
  border: none;
  border-bottom: solid 1px #CDCCCD;
  font: 38px 'Montserrat-SemiBold';
  color: #4A4A4A;
  margin: 0 auto;
  padding: 10px 20px;
}

.espacado{
  font-size: 28px;
  letter-spacing: 15px;
}

#s4{
  font-size: 9px !important;
  font-family: dotsfont;
}
.dotsfont{
  font-size: 18px !important;
  font-family: dotsfont;
}
.frmFieldNew:focus{
  outline: none;
}

.frmField:hover,.frmField:focus{
    outline: none!important;
}
#alerta{
  margin: 40px 15px;
}
#alerta .login .box-alerta {
  font-size: 0.92em;
}


#alerta .box-alerta {
  padding: 10px;
  padding-top: 40px;
  color: #BF0000 !important;
  background: #FFF7D9 url(../images/ico_alert_error_yellow.gif) no-repeat 10px 5px;
  border-bottom: 1px #E0D9BC solid;
  text-align: justify;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  font-size: 16px!important;
}

div#boxCarregando{
  margin-bottom: 24px;
}
div#boxAguarde{
  margin-bottom: 24px;
}
.loading {display:block;width:85px;height:22px;padding-left:30px;background:url(../images/carregando.gif) no-repeat;}
.loading .txt {display:block; height:22px;padding:3px 10px 0;background-color:#FFF7D9;color:#BF0000;font-size:11px; width: 100px;}

p.justify{
  text-align: justify!important;
  text-justify: distribute;
  text-align-last: left;
}